<script type="text/javascript">
  var start_num = 10;
  var sent_count = 0;
  function GetRTime(){
    var resend_btn = document.getElementById("resend_btn");
    var resend_btn_wait = document.getElementById("resend_btn_wait");
    var resend_none = document.getElementById("resend_none");
    var time = document.getElementById("time");
    time.innerHTML = start_num;
    start_num = start_num - 1;
    if(start_num>0 && sent_count <=5){
      resend_btn.style.display = "none";
      resend_btn_wait.style.display = "inline";
      resend_none.style.display = "none";
      time.style.display = "inline";
      setTimeout("GetRTime()",1000);
    }
    if(start_num == 0 && sent_count <=5){
      resend_btn.style.display = "inline";
      resend_btn_wait.style.display = "none";
      resend_none.style.display = "none";
      time.style.display = "none";
      start_num = 10;
      sent_count = sent_count + 1;
    }
    if(sent_count >5){
      resend_btn.style.display = "none";
      resend_btn_wait.style.display = "none";
      resend_none.style.display = "inline";
      time.style.display = "none";
    }
  }

  function re_active(){
    var sid = document.getElementById("sid").value;
    new Ajax.Updater('re_active', "/users/re_active",
    {asynchronous:true, evalScripts:true, method:'get',
      parameters:"user_id="+sid+"&authenticity_token=" + encodeURIComponent("b6cd59422f6fb0bd50869085b951a0607311a65d") }); return false;
  }
</script>
<body onload="GetRTime()">
<div class="wrap">
    <div class="main">
      <div class="zhuce_box">
        <p>
          邮件已经发送到<span><%= @user.email %></span>&nbsp;&nbsp;
          <% emailname = @user.email.split('@')[1] if @user%>
          <% name = emailname.split('.')[0] if emailname %>
          <% Constant::EMAILS.each do |key,value| %>
            <% if key.to_s == 'e'+name.to_s %>
              <a href="<%= value[0].to_s %>" class="email_link" target="_blank">请登录到<%= value[1].to_s %>邮箱修改密码</a>
            <% end %>
          <% end %>
        </p>
        <br/>
      </div>
    </div>
    <div class="clear"></div>
     <div class="foot">
           <p><a href="#">用户协议</a>   |   <a href="#">关于我们</a>    |   <a href="#">官方微博</a></p>
           <p>Copyright © 2011 gankao.co 版权所有 苏ICP备11024201</p>
     </div>
  </div>

</body>