<span id="success_info"></span>
<div class="wrap">
  <div class="main">
    <div class="zhuce_box" style="width: 50%;align:center;">
      请输入您注册的邮箱，我们将发送修改密码的链接到您的邮箱<br></br>
      <%= form_for :session,:url=>"/sessions/user_code" do %>
      <div style="float:left;">
          邮  箱： <input value="" id="anonymous" name="anonymous" />
      </div>
      <div class="s_49x23_btn">
        <button type="submit" value="确定">确定</button>
      </div>
      <% end %>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="foot">
  <p><a href="http://www.comdosoft.com/" target="_blank">公司信息</a> |   <a href="http://weibo.com/gankao2011" target="_blank">官方微博</a>   |   <a href="http://www.comdosoft.com/pages/aboutcon.html" target="_blank">联系我们</a>    |   <a href="#">用户协议</a></p>
      <p>Copyright © 2011-2012 &nbsp;&nbsp;苏州协创软件有限公司&nbsp;&nbsp;版权所有&nbsp;&nbsp;苏ICP备11024201</p>
</div>
