<div class="wrap">
  <div class="main">
    <%= form_for :session,:url=>"/sessions/#{@user.id}/update_user_code",
      :html =>{:onsubmit => 'return check_password()', :class => "required-validate"} do |f| %>
      <div class="zhuce_box">
        密　　码： <%= f.password_field :password, :id => "user_password", :class => "required input_style",:size => "30" %>
        <span class="expForEmail">密码长度6-20位<span id="passwordErr"></span></span><br/><br/>
        确认密码：<%= f.password_field :password_confirmation, :id => "user_password_confirmation", :class => "required input_style",:size => "30" %>
        <span class="expForEmail"><span id="confirmationErr"></span></span><br/><br/>
        <div class="s_49x23_btn">
          <button type="submit" value="更新">更新</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="clear"></div>
<div class="foot">
  <p><a href="http://www.comdosoft.com/" target="_blank">公司信息</a> |   <a href="http://weibo.com/gankao2011" target="_blank">官方微博</a>   |   <a href="http://www.comdosoft.com/pages/aboutcon.html" target="_blank">联系我们</a>    |   <a href="#">用户协议</a></p>
      <p>Copyright © 2011-2012 &nbsp;&nbsp;苏州协创软件有限公司&nbsp;&nbsp;版权所有&nbsp;&nbsp;苏ICP备11024201</p>
</div>
