<script type="text/javascript">
  var word = new Object();
</script>
<div id="note_div"></div>
<%= javascript_include_tag "/javascripts/word.js" %>
请输入单词:<input type="text" name="word" id="word" value=""/><br/>
<div id="show_word">&nbsp;&nbsp;</div>
<input type="button"  onclick="javascript:check_word();" value="查找" />
<input type="button"  onclick="javascript:add_word();" value="添加" />
<script type="text/javascript">
  function check_word() {
    var is_in_flag = false;
    if (word.word != null && word.word != "") {
      var word_list = word.word.split(";");
      if (word_list != null) {
        for (var i=0; i<word_list.length; i++) {
          if (word_list[i] == document.getElementById("word").value.strip()) {
            is_in_flag = true;
            alert("当前词汇已经在词表中");
            break;
          }
        }
      }
    }
    if (is_in_flag == false) {
      var current_word = word.word.split(";");
      current_word.push(document.getElementById("word").value.strip());
      current_word.sort();
      var current_index = current_word.indexOf(document.getElementById("word").value.strip());
      var new_arry = new Array();
      var start_num = 0;
      var end_num = 0;
      if (current_index > 5) {
        start_num = current_index-5;
        if (current_word.length > current_index + 5) {
          end_num = current_index+5;
        } else {
          end_num = current_word.length;
        }
      } else {
        if (current_word.length > current_index + 5) {
          end_num = current_index+5;
        } else {
          end_num = current_word.length;
        }
      }
      for (var j=start_num; j<=end_num; j++) {
        new_arry.push(current_word[j]);
      }
      document.getElementById("show_word").innerHTML = "当前词相关的词组：" + new_arry;
    }
  }

  function add_word() {
    if (word.word != "") {
      word = {"word":"" + word.word + ";" + document.getElementById("word").value.strip()};
    } else {
      word = {"word":"" + document.getElementById("word").value.strip()};
    }
    new Ajax.Updater('note_div', '/user/examinations/add_word',
    {asynchronous:true, evalScripts:true, method:"get",
      parameters:'word='+word.word+'&authenticity_token=' + encodeURIComponent('c+wqKLg+ecWrWdmLy2R652rtjV/W5LDZlnfF139V2/o=')}); return false;
  }
</script>