.wrap { background: url(/images/exercise/_bg.gif) repeat-x;}
.head {width: 960px; margin: 0 auto; height: 42px; line-height: 42px;}

.logo { width: 128px; height:40px; padding-top: 1px; float: left; display: inline;}
.top_loginArea { width: 370px; height: 42px; overflow: hidden; float: left; margin-left: 435px; _margin-left: 310px;}

.top_qq { float: right; height: 42px;}