@charset "utf-8";
* { padding: 0; margin: 0;}
body { background: #FFF; font-family: Arial,"宋体", "微软雅黑"; font-size: 12px;}
ul { list-style: none;}
a { text-decoration: none;}
img { border: none;}
.clear { clear: both;}
.red { color: #F00;}
.space20 { height: 20px;}

.top_qq { float: right; height: 38px; line-height: 34px; padding-top: 6px;}
.top_qq span { float: left; margin-left: 5px;}
.top_qq a { padding-top: 6px; margin: 0 5px;}

.wrap { }
.head { height: 44px; background: url(/images/paper/top_bg.png) repeat-x center 0;}

.head_box { width: 900px; margin: 0 auto;}
.member_logo { width: 140px; height: 41px;}
.member_nav { height: 41px; line-height: 41px; float: right;}
.member_nav a { color: #333; margin: 0 5px;}

.head_top { height: 44px; line-height: 44px}
.member_nav a:hover {color: #A10000; text-decoration: underline;}
.member_nav a.signColor { color: #A10000;}

.foot_index { padding-top: 40px;background: url(/images/paper/foot_index_bg.png) repeat-x center 0px;}
.foot_index_box { width: 960px; margin: 0 auto;}
.foot_index p { text-align: center; line-height: 32px; height: 32px; color: #999;}
.foot_index p a { padding: 0 5px; color: #999;}

.main { width: 810px; margin: 20px auto;}


.main_middle { width: 500px; padding: 10px; margin: 0 auto;}
.main_vip { width: 700px; padding: 10px; margin: 0 auto;}

.iphone_text { width: 460px; float: left; height:50px; padding: 20px 0 0 40px; font-size: 16px; font-family:"微软雅黑"; background: url(/images/paper/iphone4s.png) 280px 20px no-repeat;line-height: 24px;}

.member_info_btn { width: 114px; height: 40px; margin: 20px auto;}
.member_info_btn button { width: 114px; height: 40px; background: url(/images/paper/all_bg.png) no-repeat 0 -950px; border: none; cursor: pointer;}




.rcf_box { color: #333; font-size: 14px;clear: both; background: #F5F5F5; width: 500px; border: 1px #D9D9DA solid; border-bottom: none; overflow: hidden;}
.rcf_box label { width: 100px; display: block; padding: 20px 0; text-align: right; float: left; line-height: 30px;}
.setting-item-main { width: 400px; padding: 20px 0; float: left; background: #FFF;}
.setting-item-main input { width: 216px; height: 30px; margin: 0 10px; border: 1px #d2d2d2 solid;}
.setting-item-vip { height: 30px; line-height: 30px; width: 400px; padding: 20px 0; float: left; background: #FFF;}
.setting-item-vip a {color: #F00; text-decoration: underline;}
.rcf_box_bottom { border-bottom:1px #D9D9DA solid;}


/*VIP--------------------*/
.vip_text { line-height: 24px; padding: 20px 5px; border-bottom: 1px #CCC dashed; border-top: 1px #CCC dashed;}
.vip_text h1 { font-size: 14px; padding-bottom: 10px;}
.vip_text_box { width: 320px; float: left; margin: 12px; display: inline;}
.vip_text_box h2 { font-size: 14px; color: #2875ae;}
.vip_text_box p { color:  #333;}
.vip_text_box img { float: right; margin-left: 5px;}



.vip_info {margin-left: 12px;}
.vip_info table { background: #1b527a;}
.vip_info td {background: #FFF; height: 38px; line-height: 38px; text-align: center;}
.vip_info td img {}

.vip_table { padding: 20px 5px;}
.vip_table h1 { font-size: 14px; padding-bottom: 10px;}

#vip_table_head { width: 220px; height: 38px; background: url(/images/paper/vip_table_head.png) no-repeat; color: #FFF;}

.member_vip_btn { padding: 10px 0; position: relative;}

.member_vip_btn h2 { width: 550px; height: 40px; line-height: 40px; float: left; font-size: 14px; color: #2875ae;}
.member_vip_btn button { width: 114px; height: 40px; float: right; background: url(/images/paper/all_bg.png) no-repeat -129px -950px; border: none; cursor: pointer;}

.vip_zhuyi { padding-left: 20px;}

.vip_xinxin { line-height: 24px; padding: 20px 5px; border-top: 1px #CCC dashed;}
.vip_xinxin h1 { font-size: 14px; padding-bottom: 10px;}
.vip_xinxin p { color: #F00;}




/*vip--充值------------------*/
.vip_title {}

.vip_czhi_title { height: 20px; padding-left: 45px; padding-top: 8px; font-size: 14px; font-family: "微软雅黑"; color: #fb8726; margin-bottom: 8px;}
.vip_h { height: 34px; line-height: 34px; color: #1489c5; font-weight: bold;font-family: "微软雅黑";}

.vip_czhi_box { padding: 20px; overflow: hidden;}
.vip_czhi_box0 { padding: 0px 20px 5px; _padding: 0px 20px 0px; overflow: hidden;}

.zfb_pic { width: 239px; height: 63px; float: left; display: inline; position: relative; padding-left: 50px;}
.zfb_pic span { position: absolute; top: -15px; right: -25px; z-index: 100;}
.vip_czhi_input { width: 250px; float: left; padding:  20px 0 0 43px;}
.vip_czhi_btn { width: 100px; float: left; padding: 15px 0 0 50px;}
.vip_czhi_btn button { width: 100px; height: 28px; line-height: 28px; cursor: pointer; background: url(/images/paper/vip_czhi_btn.png) no-repeat; border: none; color: #FFF; font-weight: bold;}
.vip_czhi_btn_a { width: 100px; height: 28px; display: block; line-height: 28px; text-align: center; background: url(/images/paper/vip_czhi_btn.png) no-repeat; border: none; color: #FFF; font-weight: bold;}
.vip_czhi_p { padding-left: 20px; line-height: 24px; color: #333;}

.vip_zfu { width: 700px; height: 176px; background: url(/images/paper/vip_bg.png) no-repeat 0 0;}
.vip_squan {width: 700px; height: 122px; background: url(/images/paper/vip_bg.png) no-repeat 0 -189px;}
.vip_fenx { width: 700px; height: 279px; background: url(/images/paper/vip_bg.png) no-repeat 0 -324px;}


.vip_fx_p { height: 24px; line-height: 24px;}
.vip_fenx_area { padding: 10px 10px 20px 10px; overflow: hidden;}
.vip_fenx_area a { height: 16px; float: left; padding-left: 20px; margin: 0 8px; color: #06C;}
.fenx_qq { background: url(/images/paper/fenx_icon.png) 0 0 no-repeat;}
.fenx_renren { background: url(/images/paper/fenx_icon.png) 0 -18px no-repeat;}
.fenx_sina { background: url(/images/paper/fenx_icon.png) 0 -36px no-repeat;}

.vip_fx_textarea { position: relative;}
.v_f_info { position: absolute; top: 0px; left: 480px;}
.v_f_info p { line-height: 24px; height: 24px;}
.v_f_info p a { color:#0066CC;}
.v_f_info p a:hover { text-decoration: underline;}
.vip_fx_textarea textarea { width: 460px; height: 70px; color: #333; line-height: 24px; font-size: 12px;}
.vip_sh_tis { float: left; color: #666; margin-top: 20px; padding-left: 20px;}

/*解析笔记弹出层----*/
.fx_ex_content { display: none;}
.fx_ex_tab { width: 377px; height: 600px; padding: 0 0 0 20px; display: none; position: absolute; z-index: 100; background: url(/images/paper/fx_ex_bg0.png) no-repeat; _background: url(/images/paper/fx_ex_bg0.gif) no-repeat;}
.fx_ex_t { height: 27px;}
.fx_ex_t a { float: right; margin: 15px 10px 0 0;}




/*foot--------------*/
.foot { width: 900px; margin: 0 auto; background: url(/images/paper/xline.png) repeat-x; padding-top: 10px;}
.foot p { height: 24px; line-height: 24px; text-align: center; color: #999;}
.foot p a { color: #999;}

.tishi_tab { width: 250px; padding: 10px; background: url(/images/paper/mk_b_zz_bg.png) repeat; border: 1px #fff solid; position: absolute; display: none;}
.tishi_tab p { text-align: center; line-height: 24px; font-size: 14px; font-family:"微软雅黑"; color: #fff;}
