@charset "utf-8";
* { padding: 0; margin: 0;}
body { background: #FFF; font-family: Arial,"宋体", "微软雅黑"; font-size: 12px;}
ul { list-style: none;}
img { border: none;}
.clear { clear: both;}
.red { color: #F00;}

.wrap {}
.head { width: 900px; margin: 0 auto; padding-top: 10px;}
.main { width: 900px; margin: 0 auto; padding: 20px 0;}
.zhuce_box { width: 500px; margin: 0 auto; padding-top: 30px;}
.rcf_box { color: #333; font-size: 14px;clear: both; background: #F5F5F5; width: 500px; border: 1px #D9D9DA solid; border-bottom: none; overflow: hidden;}
.rcf_box label { width: 100px; display: block; padding: 20px 0; text-align: right; float: left; line-height: 30px;}
.setting-item-main { width: 400px; padding: 20px 0; float: left; background: #FFF;}
.setting-item-main input { width: 216px; height: 30px; margin: 0 10px; border: 1px #d2d2d2 solid;}

.rcf_box_bottom { border-bottom:1px #D9D9DA solid;}

.zhuce_xy { width: 260px; margin: 60px auto;}

.rcf_p { font-size: 12px; padding-left: 10px; line-height: 18px; padding-top: 10px; }

.zd_tj_btn { width: 169px; height: 39px; margin: 0 auto;}
.zd_tj_btn button { width: 169px; height: 39px; display: block; background: url(/images/paper/all_bg.png) no-repeat 0 -829px; border: none; cursor: pointer;}

.zd_tj_btn00 { width: 169px; height: 39px; margin: 0 auto;}
.zd_tj_btn00 button { width: 169px; height: 39px; display: block; background: url(/images/paper/all_bg.png) no-repeat -174px -829px; border: none; cursor: pointer;}

.zhuce_cg { font-size: 14px; text-align: center;}






/*重新发送------------*/
.sendAgain_btn { width: 113px; height: 23px; margin: 0 auto;}
.sendAgain_btn button { width: 113px; height: 23px; display: block; background: url(/images/paper/all_bg.png) no-repeat -174px -878px; border: none; cursor: pointer;}



.s_49x23_btn { width: 49px; height: 23px; margin: 0 auto;}
.s_49x23_btn button {
    width: 49px;
	height: 23px;
	line-height: 23px;
	text-align: center;
	color: #FFF;
	display: block;
	background: url(/images/paper/all_bg.png) no-repeat -174px -908px;
	border: none;
	cursor: pointer;
}


/*登录------------*/


.login_main { width: 960px; height: 371px; margin: 0 auto; padding-top: 0px; background: url(/images/paper/wrap_login_bg.png) no-repeat center 0;}
.login_box { width: 319px; height: 371px; padding-top: 40px; margin-left: 612px;}

.error_login { color: #F00; height: 24px; line-height: 24px; padding-top: 6px; text-align: center;}

.login_i_text { height: 32px; margin: 5px 0;}
.login_i_text label { width: 100px; height: 32px; line-height: 32px; vertical-align: middle; color: #2875ae; font-size: 14px; display: inline-block; text-align: right;}
.login_input { width: 140px; height: 21px; vertical-align: middle; padding: 0 5px; line-height: 21px; background: url(/images/paper/i_text_input_bg.png) repeat-x; border: 1px #c1c1c1 solid;}

.login_i_p { height: 32px; line-height: 32px; text-align: center;}
.login_i_p a { color: #2875ae;}
.login_btn { width: 110px; height: 37px; margin: 10px auto;}
.login_btn button { width: 110px; height: 37px; background: url(/images/paper/all_bg.png) no-repeat 0 -877px; border: none; cursor: pointer;}

.other_login { height: 32px; padding-top: 20px;}
.t_o_text { vertical-align: middle; display: block; float: left; height: 20px; padding-top: 12px; padding-left: 30px;}
.other_login a { margin: 0 10px;}



/*foot--------------*/
.foot { background: url(/images/paper/xline.png) repeat-x; padding-top: 10px;}
.foot p { height: 24px; line-height: 24px; text-align: center; color: #999;}
.foot p a { color: #999;}

.tishi_tab { width: 250px; padding: 10px; background: url(/images/paper/mk_b_zz_bg.png) repeat; border: 1px #fff solid; position: absolute; display: none; z-index: 9999;}
.tishi_tab p { text-align: center; line-height: 24px; font-size: 14px; font-family:"微软雅黑"; color: #fff;}
