@charset "utf-8";
* { padding: 0; margin: 0;}
body { background: url(/images/paper/_bg.jpg) repeat; font-family: Arial,"宋体", "微软雅黑"; font-size: 12px;}
ul { list-style: none;}
img { border: none;}
.clear { clear: both;}
.wrap { height: 38px; background: url(/images/paper/top_bg.png) repeat-x;}

.head { width: 900px; margin: 0 auto; padding-bottom: 10px; background: url(/images/paper/xline.png) repeat-x center bottom;}
.head_top { height: 34px; line-height: 34px; margin-bottom: 10px;}

.top_myGankao { float: right;}
.t_gk { width: 59px; height: 34px; background: url(/images/paper/t_gk.gif) no-repeat 0 center; padding-left: 26px;}
.t_gk a { color: #333; text-decoration: none;}
.top_loginArea {}
.top_loginArea a { color: #333; margin: 0 10px;}
.top_loginArea a.signColor { color: #A10000;}

.logo { float: left; width: 300px; height: 70px;}
.nav { float: left; width: 480px; height:39px; padding: 31px 0 0 120px;}
.menu { width: 437px; height: 39px; padding: 0 12px; _width: 445px; _padding: 0 8px; background: url(/images/paper/menu_bg.png) no-repeat;}
.menu li { float: left; padding: 0 9px; height: 39px; line-height: 42px;}
.menu li a { color: #333; text-decoration: none;}
.menu li a:hover, .menu li a.hover { color: #1abcf0;}

.main { width: 880px; margin: 0 auto; padding: 10px;}
.main_con { margin: 10px;}

/*真题训练--------------*/
.zhenti_box { width: 790px; margin: 20px auto 0; overflow: hidden;}
.zhenti_box li { width: 117px; height: 144px; position: relative; float: left; margin: 20px; display: inline;}
.zhenti_box li a { width: 117px; height: 144px; display: block; text-decoration: none; background: url(/images/paper/zhenti_bg.png) no-repeat;}
.paper_time { position: absolute; top: 5px; left: 5px; font-family: "微软雅黑"; color: #b8c1d2; font-size: 14px; width: 70px; display: block; font-weight: bold;}
.paper_over { position: absolute; bottom: 0px; right: 0px;}


/*错题库---------------*/
.errorLibrary_left { width: 560px; float: left;}
.errorLibrary_right { width: 300px; float: left; background: #000; height: 300px;}

.pattern { height: 26px; line-height: 26px;}
.pattern a { color: #333; font-weight:bold; float: left; text-decoration: none;}
.moveBlock_bg { width: 73px; height: 26px; background: url(/images/paper/moveBlock_bg.gif) no-repeat; float: left; margin: 0 10px; position: relative;}
.moveBlock { position: absolute; top: 1px; left: 1px;}



.part_div { margin-top: 10px;}

/*题目说明区块-----*/
.part_passage { padding: 10px; background: #ffffff;}
.part_passage p { line-height: 22px; text-indent: 24px;}

.p_directions { font-weight:bold;}
.p_contents { margin-top: 10px;}

/*答题样式-----*/
.part_padding { padding: 10px;}
.part_question { 
    border-top: 1px #CCC solid;
	border-left: 1px #CCC solid; 
	border-right: 5px #CCC solid;
	border-bottom: 5px #CCC solid; 
	margin-top: 10px; 
	background: #FFF;
}



.p_question_list {border-bottom: 1px #CCC solid; position: relative;}
.answer_text { padding: 5px;}

.answer_textarea { }
.answer_textarea textarea { padding: 5px; width: 600px; height: 200px; margin: 10px 0 0 15px;}

/*正确错误*/
.question_yes { background: url(/images/paper/question_yesno_bg.jpg) no-repeat 0px 0px #FFF;}
.question_no {background: url(/images/paper/question_yesno_bg.jpg) no-repeat 0px -396px #FFF;}

.p_q_l_left { float: left; width: 31px;text-align: center; padding-top: 5px;}
.p_q_l_right { float: left; padding: 5px; width:510px;}

/*审查-----*/
.review_btn { position: absolute; top: 5px; right: 5px;}
.review_btn button { width: 80px; height: 28px; line-height: 28px; border: none; cursor: pointer; color:#5d728a; background: url(/images/paper/all_bg.png) no-repeat -7px -83px;}

/*解析笔记弹出层----*/
.jiexi_tab { display: none; position: absolute; z-index: 100;}
.tab_t { width: 397px; height: 27px; background: url(/images/paper/all_bg.png) -114px -8px no-repeat;}
.tab_t a { float: right; margin: 15px 12px 0 0;}
.tab_m { width: 377px;  background: url(/images/paper/tab_m.png) repeat-y; padding: 5px 10px; line-height: 22px;}
.tab_m h3 { color: #F00;}
.tab_b { width: 397px; height: 18px; background: url(/images/paper/all_bg.png) -114px -35px no-repeat;}

.biji_tab {display: none; position: absolute; z-index: 100; top: 25px; right: 70px;}
.tab_m_textarea textarea { width: 370px;}




/*保存答案按钮-----*/
.p_question_btn { margin-top: 5px; padding-left: 10px;}
.save, .Uncertain {height: 26px; line-height: 26px; border: none; cursor: pointer; color: #FFF; margin: 0 5px;}
.save { width: 48px;  background: url(/images/paper/all_bg.png) no-repeat -8px -8px;}
.Uncertain { width: 60px; background: url(/images/paper/all_bg.png) no-repeat -8px -45px;}




/*选择题-------*/
.chooseQuestion { line-height: 24px; font-size: 12px;}
.chooseQuestion li { height: 24px;}

.correctRight_bg { background: #a1e5ff;}

.fraction { text-align: right;line-height: 24px; font-size: 12px; color: #666;}




/*foot-------------*/
.foot { width: 880px; margin: 0 auto; background: url(/images/paper/xline.png) repeat-x center 0px; padding: 20px 10px 10px;}
.foot p { text-align: center; line-height: 24px; height: 24px; color: #999;}
.foot p a { padding: 0 5px; color: #999;}