@charset "utf-8";
* { padding: 0; margin: 0;}
html {_BACKGROUND-ATTACHMENT: fixed; _BACKGROUND-IMAGE: url(about:blank);}/*IE6fixed无闪烁*/
body { background: url(/images/paper/_bg.jpg) repeat; font-family: Arial,"宋体", "微软雅黑"; font-size: 12px; position: relative;}
ul { list-style: none;}
img { border: none;}
.wrap { height: 100%;}


.fraction_h {text-align: right;line-height: 24px; font-size: 12px; color: #666;}
.fraction { text-align: right;line-height: 24px; font-size: 12px; color: #666; position: absolute; top: 10px; right: 15px;}

.correctRight_bg { background: #d0eeff;}
.red_bg { background: #d1a39b;}

.space20 { height: 20px;}

.clear { clear: both;}


/*testPaper-----top*/

.testPaper_top {
    width: 100%;
	height: 38px;
	background: url(/images/paper/testPaper_top_bg.png) repeat-x top center;
	z-index: 100;
	position: fixed;
	/*IE6fixed无闪烁*/
	_position: absolute;
    _top: expression(eval(documentElement.scrollTop));
}
.test_logo { float: left; margin-right: 2px;}
.tp_top_box { width: 960px; height: 38px; line-height: 38px; margin: 0 auto; font-size: 14px; color: #FFF; font-family: "微软雅黑";}
.tp_top_box div { float: left; width: 320px;}
.paper_name { display: inline;}
.timer { text-align: center; font-size: 16px; background: url(/images/paper/timerIcon.png) no-repeat 70px center;}
.paper_info { text-align: right;}

.paper_info strong { padding: 0 5px;}

.test_over_btn { width: 69px; height: 28px; margin-left: 5px; float: right; margin-top: 5px; background: url(/images/paper/test_over_btn.png) 0 0 no-repeat; border: none; cursor: pointer;}
.test_out_btn { width: 69px; height: 28px; margin-left: 5px; float: right; margin-top: 5px; background: url(/images/paper/test_out_btn.png) 0 0 no-repeat; border: none; cursor: pointer;}
.chak_over_btn { width: 102px; height: 28px; margin-left: 5px; float: right; margin-top: 5px; background: url(/images/paper/chak_over_btn.png) 0 0 no-repeat; border: none; cursor: pointer;}
.test_fq_btn { width: 102px; height: 28px; margin-left: 5px; float: right; margin-top: 5px; background: url(/images/paper/test_fq_btn.png) 0 0 no-repeat; border: none; cursor: pointer;}

/*testPaper-----main*/
.testPaper_main { width: 960px; background: #FFF; margin: 0 auto; padding: 50px 0; overflow: hidden;}

/*tp_left-------------*/
.tp_left { float: left; width: 690px; display: inline;}
.part_box { font-size: 13px; overflow: hidden; padding: 5px;}


/*题目说明区块-----*/
.part_passage {
    padding: 10px;
	background: #fdfeff;
	border-top: 1px #EAEAEA solid;
	border-left: 1px #EAEAEA solid;
	border-right: 1px #EAEAEA solid;
	border-bottom:2px solid #EAEAEA;
}
.part_passage p { line-height: 22px; text-indent: 24px; text-align: justify; color:#164A63;}
.part_title { font-size: 16px; color: #164a63; font-weight: bold; line-height: 32px;}


/*答题样式-----*/
.part_div { margin-bottom: 20px;}

.part_question {
    border-top: 1px #eaeaea solid;
	border-left: 1px #eaeaea solid;
	border-right: 1px #eaeaea solid;
	border-bottom: 2px #eaeaea solid;
	background: #FFF;
}
.part_q_text { padding: 10px; background: #fdfeff; border-bottom:1px solid #EAEAEA;}
.question_text_div { line-height: 20px; text-indent: 24px; text-align: justify; padding: 5px 0;}
.question_text_div p, .question_text_div div { line-height: 20px; text-indent: 24px; text-align: justify; padding: 5px 0;}

.question_text_explain { padding: 10px; line-height: 24px; font-family: Georgia, "Times New Roman", Times, serif; color: #999;}



.p_question_list {border-bottom: 1px #eaeaea solid; position: relative;}

.answer_text { padding: 5px 10px;}
.answer_text textarea { width: 35%; height: 24px; line-height: 24px; overflow-y: hidden; font-size: 12px;}

.answer_textarea { }
.answer_textarea textarea { padding: 5px; width: 95%; height: 180px; margin: 10px 0 10px 15px;}


.question_yes { background: url(/images/paper/question_yes_bg.png) repeat-y 0px 0px #FFF;}
.question_no {background: url(/images/paper/question_no_bg.png) repeat-y 0px 0px #FFF;}

.p_q_l_left { float: left; width: 31px;text-align: center; padding-top: 5px;}
.p_q_l_right { float: left; padding: 10px 5px; width: 580px; border-left: 1px #EAEAEA solid;}

.question_title { line-height: 24px; padding-left: 20px; font-weight: bold; border-bottom: 1px #CCC dashed;}



/*选择题-------*/
.chooseQuestion { line-height: 24px; font-size: 13px; padding-left: 10px;}
.chooseQuestion li { height: 24px; margin: 3px 0; line-height: 24px;}


/*拖拽题-------------*/
.tb_content { padding: 10px 0;}

.task_con { padding: 10px; border: 1px #CCC solid; margin-top: 10px; line-height: 24px;}
.q_drag_con { line-height: 24px;}
.task_con p { text-indent: 24px;}

.task3_li { overflow: hidden; color: #333; padding: 10px 0; height: 1%;}
.task3_li li {height: 25px; border: 1px #CCC solid; text-align: center; line-height: 25px; margin: 5px 7px; padding: 0 10px; float: left; position: relative; z-index: 100;}
.task3_li li.dropOver { border: 1px #CCC solid; background: #ff5252;}
.task_span { padding: 0 5px; border-bottom: 1px #CCC solid;}



/*预览时加入ul*/
.choose_padding_bottom { padding-bottom: 20px;}


/*审查-----*/
.review_btn { position: absolute; bottom: 2px; right: 10px; font-family: "微软雅黑";}
.review_btn a { margin: 0 10px; line-height: 28px; border: none; color:#0099ff; text-decoration: none;}

/*解析笔记弹出层----*/
.jiexi_tab { display: none; position: absolute; z-index: 100;}
.tab_t { width: 397px; height: 27px; background: url(/images/paper/all_bg.png) -114px -8px no-repeat;}
.tab_t a { float: right; margin: 15px 12px 0 0;}
.tab_m { width: 377px;  background: url(/images/paper/tab_m.png) repeat-y; padding: 5px 10px; line-height: 22px;}
.tab_m h3 { color: #F00;}
.tab_b { width: 397px; height: 18px; background: url(/images/paper/all_bg.png) -114px -35px no-repeat;}

.biji_tab {display: none; position: absolute; z-index: 100; top: 25px; right: 70px;}
.tab_m_textarea textarea { width: 370px; margin-top: 5px;}

.reason_tab { display: none; position: absolute; z-index: 100;}




/*保存答案按钮-----*/
.p_question_btn { margin-top: 5px; padding-left: 10px;}
.save, .Uncertain {height: 25px; line-height: 25px; border: none; cursor: pointer; color: #FFF; margin: 0 5px;}
.save { width: 63px;  background: url(/images/paper/all_bg.png) no-repeat -8px -8px;}
.Uncertain { width: 63px; background: url(/images/paper/all_bg.png) no-repeat -8px -45px;}









/*------*/
.zhijiao { width: 62px; height: 41px; background: url(/images/paper/zhijiao.png) no-repeat; float: right;}



/*tp_right-----------------*/
.tp_right { float: left; width: 250px; padding-left: 20px;}
.tp_right_box { width: 240px; margin: 0 auto; position: fixed; _position: absolute; _top: expression(eval(documentElement.scrollTop + 50));}
.first_title { font-size: 13px; color: #333; overflow: hidden; clear: both; cursor: pointer; background: url(/images/paper/xline.png) repeat-x center bottom; padding: 10px 0;}
.first_title p { padding: 5px; line-height: 18px; clear: both;}
.second_menu li { float: left; margin: 2px 7px; overflow: hidden; height: 30px; width: 29px; border: 1px #CCC solid; font-size: 16px; font-family: "微软雅黑";}
.second_menu li a { width: 29px; height: 30px; display: block; line-height: 32px; text-align: center; text-decoration: none; color: #333;}
.second_menu li a.lvse { background: url(/images/paper/second_menu_bg.jpg) no-repeat -35px bottom;}
.second_menu li a.fenhong { background: url(/images/paper/second_menu_bg.jpg) no-repeat 0 bottom;}
.highLight { color: #164a63; font-size: 14px; font-weight:bold;}
.first_title ul { padding: 5px 0 0 0; overflow: hidden;}




.title_shadow { display: inline-block;text-shadow:1px 0 0 #ffffff, 0 1px 0 #ffffff, 0 -1px 0 #ffffff, -1px 0 0 #ffffff, 1px 0 1px #ffffff, 0 1px 1px #ffffff, 0 -1px 1px #ffffff, -1px 0 1px #ffffff;
   filter:
	Dropshadow(offx=1,offy=0,color=#ffffff)
    Dropshadow(offx=0,offy=1,color=#ffffff)
    Dropshadow(offx=0,offy=-1,color=#ffffff)
    Dropshadow(offx=-1,offy=0,color=#ffffff);
}

.testPaper_foot { height: 100px;}

/*操作提示弹出层---*/
.tishi_tab {width: 288px; height: 82px; padding:30px 10px 10px 10px; background: url(/images/paper/tishi_tab_bg.png) no-repeat; position: absolute; display: none;z-index: 9999;}
.tishi_tab p  { text-align: center; line-height: 24px; font-size: 14px; font-family:"微软雅黑"; color: #ffffff;}

/*提交错误弹出层-----*/
.upErrorTo_tab { width: 91px; height: 82px; padding: 14px 10px 0 5px; background: url(/images/paper/upErrorTo_bg.png) no-repeat; display: none; position: absolute; z-index:100;}
.upErrorTo_tab a { height: 24px; line-height: 24px; text-align: center; color: #333; display: block; text-decoration: none;}
.upErrorTo_tab a:hover { color:#0099FF; text-decoration: underline;}


/*testPage_btn----------------*/
.testPage_btn { width: 224px; height: 34px; margin: 20px 0 0 430px;}
.testPage_btn a { width: 105px; height: 34px; display: block; text-indent: -999px; overflow: hidden; float: right; margin: 0 3px;}
.tp_up_btn { background: url(/images/paper/testPage_btn.png) no-repeat 0 0;}
.tp_down_btn { background: url(/images/paper/testPage_btn.png) no-repeat -119px 0;}



/*黄色弹出层--------------*/
.tooltip { width: 150px; padding: 5px; position: relative; border: 1px #f2cf7a solid; background: #fcfee4;}
.tooltip_arrow { position: absolute; top:-15px; left: 15px;}
.tooltip_text { }
.tooltip_x { height: 15px; text-align: right;}
.tooltip_x a { color: #333;}
.tooltip_p { height: 24px; line-height: 24px;}

/*白色弹出层---------*/
.white_tab_box { width: 308px; height: 122px; background: url(/images/paper/tishi_tab_bg.png) repeat 0 0; position: absolute;}
.white_box_x { float: right; margin: 7px 10px 5px 5px;}
.white_tab_box p { text-align: center; line-height: 24px; font-size: 14px; font-family:"微软雅黑"; color: #ffffff;}
.white_box_text { line-height: 24px; padding: 0 5px;}
