<div class="wrap">
  <div class="main">
    <div class="zhuce_box">
      <p class="zhuce_cg">注册激活链接无效！</p>
    </div>
    <div class="zhuce_box">
      <p class="zhuce_cg">请不要重复激活，也许您已经激活，请<a href="/sessions/new">登录</a>试试</p>
      <p class="zhuce_cg">如果这是您第一次激活，请确认此链接与邮件中的激活链接一致</p>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="foot">
  <p><a href="#">用户协议</a>   |   <a href="#">关于我们</a>    |   <a href="#">官方微博</a></p>
  <p>Copyright © 2011 gankao.co 版权所有 苏ICP备11024201</p>
</div>
