<script type="text/javascript">
  function tiaozhuan(){
    document.location.href = "/user/homes/<%= Category::TYPE_IDS[:english_fourth_level] %>";
  }
  function changepage(){
    setTimeout("tiaozhuan()",3000);
  }

</script>    
<body onload="changepage()">
  <div class="wrap">
    <div class="head"><div class="logo"><a href="/"><img src="/images/paper/logo1.png" /></a></div></div>
    <div class="main">
      <div class="zd_jd"><img src="/images/paper/zd_jd2.png" /></div>
      <div class="zhuce_box">
        <p class="zhuce_cg">恭喜，你好的帐号已激活！</p>
      </div>
      <div class="zhuce_box">
        <p class="zhuce_cg">欢迎您使用赶考，即将自动跳转到登录页</p>
        <p class="zhuce_cg"><a href="/user/homes/<%= Category::TYPE_IDS[:english_fourth_level] %>">如果您的浏览器没有自动跳转，请点击这里</a></p>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="foot">
    <p><a href="#">用户协议</a>   |   <a href="#">关于我们</a>    |   <a href="#">官方微博</a></p>
    <p>Copyright © 2011 gankao.co 版权所有 苏ICP备11024201</p>
  </div>
</body>