<div class="wrap">
  <div class="main">
    <div class="zhuce_box">
      <p class="zhuce_cg">注册激活链接无效！</p>
    </div>
    <div class="zhuce_box">
      <p class="zhuce_cg">请不要重复激活，也许您已经激活，请<a href="/sessions/new">登录</a>试试</p>
      <p class="zhuce_cg">如果这是您第一次激活，请确认此链接与邮件中的激活链接一致</p>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="foot">
  <p><a href="http://www.comdosoft.com/" target="_blank">公司信息</a> |   <a href="http://weibo.com/gankao2011" target="_blank">官方微博</a>   |   <a href="http://www.comdosoft.com/pages/aboutcon.html" target="_blank">联系我们</a>    |   <a href="#">用户协议</a></p>
  <p>Copyright © 2011-2012 &nbsp;&nbsp;苏州协创软件有限公司&nbsp;&nbsp;版权所有&nbsp;&nbsp;苏ICP备11024201</p>
</div>
