<%= form_for :user_info,:url=>"/users/#{@user.id}/update_info",
  :html =>{:onsubmit => 'return checkinfo()', :class => "required-validate"} do |f| %>
  <div class="main_right">
    <div class="member_info_div">
      <label>昵称：</label>
      <%= f.text_field :name , :id => "user_name",:value => @user.name,
        :class => "required input_style", :size => "30" %>
    </div>
    <div class="member_info_div">
      <label>学校：</label>
      <%= f.text_field :school , :id => "user_school",:value => @user.school,
        :class => "required input_style", :size => "30" %>
    </div>
    <div class="member_info_div">
      <label>会员：</label>
      &nbsp;&nbsp;<% unless is_vip? == false %>非VIP&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">开通VIP</a><% else %>VIP<% end %>
    </div>
    <div class="member_info_btn">
      <button type="submit"></button>
    </div>
  </div>
<% end  %>
