
<title>升级VIP</title>
<div class="main">
  <div class="main_vip">
    <div class="vip_title"><img alt="gankao" src="/images/kt_vip.png"/></div>
    <div class="vip_h">开通方法一：</div>
    <div class="vip_fenx" style="display: none;">
      <div class="vip_czhi_title">分享好友</div>
      <div class="vip_czhi_box">
        <p class="vip_fx_p">1.用以下方式分享给你的好友</p>
        <div class="vip_fenx_area">
          <!-- JiaThis Button BEGIN -->
          <div id="ckepop">
            <a class="jiathis_button_qzone">QQ空间</a>
            <a class="jiathis_button_renren">人人网</a>
            <a class="jiathis_button_tsina">新浪微博</a>
          </div>
          <script type="text/javascript" >
            var jiathis_config={
              url:"http://www.gankao.co",
              summary:"12月要考四级的ggmm可以看看这个网站www.gankao.co，有在线模拟考试和新四级的全部真题，直接在线复习的，听力部分有录音，所有试题有解析，错题库可以让你更加针对性的复习，不用再到处找资料啦，全部一次搞定。对了，是免费的，有机会抽取iphone 4s哦！",
              title:"12月要考四级的ggmm可以看看这个网站www.gankao.co，有在线模拟考试和新四级的全部真题，直接在线复习的，听力部分有录音，所有试题有解析，错题库可以让你更加针对性的复习，不用再到处找资料啦，全部一次搞定。",
              appkey:{
                "tsina":"3987186573",
                "tqq":"801004949"
              },
              hideMore:true
            }
          </script>
          <script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>
          <!-- JiaThis Button END -->

          <div class="clear"></div>
        </div>
        <p class="vip_fx_p">2.提供分享后的凭证</p>
        <%= form_for :proof,:url=>"/users/create_proof",:html=>{:onsubmit=>"return validate_form_proof();"} do |f|%>
          <div class="vip_fx_textarea">
            <%= f.text_area :proof_text,:id=>"form_textarea_pingzheng",:cols=>"",:row=>"" %>
            <div class="v_f_info">
              <p><a href="javascript:void(0);">提供QQ空间分享凭证方法</a></p>
              <p><a href="javascript:void(0);">提供人人网分享凭证方法</a></p>
              <p><a href="javascript:void(0);">提供新浪微博分享凭证方法</a></p>
            </div>
          </div>
          <div class="vip_czhi_btn"><button type="submit" id="form_submit_pingzheng">确  认</button><%= image_tag "ajax-loader.gif", :id => "spinner_user_pingzheng", :style => "display:none" %></div>
        <% end %>
        <span class="vip_sh_tis">需人工审核激活，大约1小时左右，请耐心等待....</span>
      </div>
    </div>
    <div class="space20" style="display:none;"></div>
    <div class="vip_h"  style="display:none;">开通方法二：</div>
    <div class="vip_zfu">
      <div class="vip_czhi_title">支付宝</div>
      <div class="vip_czhi_box">
        <div class="zfb_pic"><img alt="gankao" src="/images/zfb_pic.png"/><span><img src="/images/paper/35.png" /></span></div>
        <div class="vip_czhi_btn"><a onclick="javascript:vip_tishi()" class="vip_czhi_btn_a">确认支付</a></div>
        <div class="clear"></div>
      </div>
      <div class="vip_czhi_p"><span class="red">*</span> 温馨提示：支付宝充值免手续费。</div>
    </div>
    <div class="space20"></div>
    <div class="vip_h">开通方法二：</div>
    <div class="vip_squan">
      <div class="vip_czhi_title">授权码</div>
      <div class="vip_czhi_box0">
        <div class="vip_czhi_input"><label>授权码：</label><input name="" type="text"/></div>
        <div class="vip_czhi_btn"><button>确  认</button></div>
        <div class="clear"></div>
      </div>
      <div class="vip_czhi_p"><span class="red">*</span> 温馨提示：支付宝充值免手续费。</div>
    </div>
  </div>
</div>
<div class="zhezhao" style="display: none"></div>
<div class="cz_tishi" style="display: none;">
  <div class="cz_tishi_h"><a onclick="javascript:vip_tishi_hide()"><img src="/images/exercise/x.gif" /></a>充值提示</div>
  <div class="cz_tishi_text"><p>*支付完成后，系统需要3-5分钟处理您的请求，请耐心等待</p>
        <p>付款完成前请不要关闭此窗口，完成付款后请根据你的情况点击
        </p><h4>下面的按钮：请在完成付款后再选择</h4></div>
  <div class="cz_tishi_btn">
    <button class="wanc_btn" onclick="window.location.href='/'"></button>
    <button class="chongx_btn" onclick="window.open('/user/alipays/alipay_request')"></button>
  </div>
</div>
<div class="fx_ex_content" style="display: block; ">
  <div class="fx_ex_tab" style="top: 23px; left: 719px; display: none; ">
    <div class="fx_ex_t"><a href="javascript:void(0);"><img  alt="gankao" src="/images/x.gif"/></a></div>
    <div><img  alt="gankao" src="/images/qq_fx.png"/><p class="red">分享QQ空间后，复制显示分享内容的网址，粘贴到左边的文本框中，确定提交。</p></div>
  </div>
  <div class="fx_ex_tab" style="top: 51px; left: 735px; display: none; ">
    <div class="fx_ex_t"><a href="javascript:void(0);"><img  alt="gankao" src="/images/x.gif"/></a></div>
    <div><img  alt="gankao" src="/images/renren_fx.png"/><p class="red">分享人人网后，复制显示分享内容的网址，粘贴到左边的文本框中，确定提交。</p></div>
  </div>
  <div class="fx_ex_tab" style="display: none; top: 71px; left: 735px; ">
    <div class="fx_ex_t"><a href="javascript:void(0);"><img  alt="gankao" src="/images/x.gif"/></a></div>
    <div><img alt="gankao" src="/images/sina_fx.png"/><p class="red">分享新浪微博后，点击微博内容下的时间，选择复制，把复制的内容粘贴到左边的文本框中，确定提交。</p></div>
  </div>
</div>

<script type="text/javascript">
  //解析弹出层
  jQuery(function(){
    jQuery('.v_f_info a').click(function(e){
      var index = jQuery('.v_f_info a').index(this);

      jQuery('.fx_ex_content').css('display','block');
      jQuery('.fx_ex_content > div').eq(index).css('display','block');
      jQuery('.fx_ex_content > div').eq(index).css({
        'top':(e.pageY+5)+'px',
        'left':(e.pageX-80)+'px'
      }).siblings().hide();

    })
    jQuery('.fx_ex_t > a').click(function(){
      jQuery('.fx_ex_content').css('display','none')
      jQuery('.fx_ex_content > div').css('display','none');
    })

  })

  function validate_form_proof(){
    if(!checkspace(document.getElementById('form_textarea_pingzheng').value)){
      document.getElementById("form_submit_pingzheng").style.display='none';
      document.getElementById('spinner_user_pingzheng').style.display='block';
      return true;
    }
    return false;
  }
</script>