<div class="main_right">
  <div class="vip_h">VIP会员</div>
  <div class="vip_info">
    <table border="0" cellspacing="1" cellpadding="0">
      <tr>
        <td id="vip_table_head">&nbsp;</td>
        <td id="vip_table_head">普通用户</td>
        <td id="vip_table_head">高级用户</td>
      </tr>
      <tr>
        <td><strong>模拟考试</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><strong>模拟考试主观题批改</strong></td>
        <td><img src="/images/paper/red_x.png" /></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><strong>真题训练</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><strong>综合训练</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><strong>错题库</strong></td>
        <td><img src="/images/paper/red_x.png" /></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><strong>错题问答</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><strong>笔记</strong></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><strong>备考信心指数</strong></td>
        <td><img src="/images/paper/red_x.png" /></td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </div>
</div>