<span style="float: left;font-size: 20px">
  <p>
    <%= "1.VIP用户享有自动计算信心指数" %>
  </p>
  <p>
    <%= "2.无限制的综合训练" %>

  </p>
  <p>
    <%= "3.模考试卷由专业老师阅卷，并给出评分理由" %>
  </p>
</span>
<div style="font-size: 20px">
  支付<font color='red'><%= Constant::VIP %>元</font>就能成为VIP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input value="确定支付" type="button" style="font-size: 40px;height: 60px"/>
</div>