<div class="left">
  <% if cookies[:user_id].nil? %>
    <div class="left_box">
      <div class="lb_icon"><img src="images/exercise/paper-clip.png" /></div>
      <div class="renren_box">
        <h1>无需注册，试用人人网帐号直接登录；</h1>
        <div class="rr_login"><div class="rr_login_a"><a href="#" onclick ="javascript:window.open('/competes/renren_exercise', '_blank', 'height=500,width=800,left=200,top=100');">登录人人网</a></div></div>
      </div>
      <div class="cz_text">
        <h2><img src="images/exercise/cz_text_h.jpg" /></h2>
        <h3>参加本场大学英语四级模拟大赛，您将得到：</h3>
        <p>1.你的考试分数（大学四级标准的专业评分）；</p>
        <p>2.你在本场大赛中的排名；</p>
        <p>3.专业的试卷批阅、点评和复习重点推荐。</p>
      </div>
    </div>
  <% else %>
    <% compete=Compete.find_by_user_id(cookies[:user_id]) %>
    <% unless compete.nil? %>
      <div class="left_box">
        <div class="lb_icon"><img src="images/paper-clip.png" /></div>
        <div class="jies_box">
          <h2>大赛介绍</h2>
          <p>面向2011年12月大学英语四级的考生，赶考网准备了这次CET4过关挑战赛。权威专家命题，要求参赛者在规定时间内同时在线答题，考试时间结束后将统一公布参赛者成绩和排名！</p>
          <div class="js_time">
            <p><span>大赛时间：</span> 2011年11月14日 8:00 — 2011年11月21日 23:00;</p>
            <p><span>答卷时间：</span> 在大赛时间内任意时间进入，2小时零5分时间完成答卷；</p>
            <p><span>成绩公布时间：</span> 2011年11月24日 09:00公布</p>
          </div>
          <h2>比赛模式</h2>
          <p>1、采用"真实模拟"竞赛模式，题目以整卷方式呈现，考试规则完全模拟大学英语四级考试；</p>
          <p>2、考试时间为125分钟，请预留出充足时间参加本场考试；考试中每一部分有固定时间，当前部分时间未结束无法进入下一部分，若当前部分时间已到但答题尚未完成，系统会将此部分自动交卷并进入下一部分；</p>
          <p>3、考试结束请点击交卷完成本场考试，若考试中异常退出，则下次进入考场将重新开始考试；</p>
          <div class="addTo_btn"><a href="/user/examinations/<%= Constant::EXAMINATION %>/do_exam" target="_blank">进入考场</a></div>
        </div>
      </div>
    <% else %>
      <div class="left_box">
        <div class="lb_icon"><img src="images/exercise/paper-clip.png" /></div>
        <div class="cz_img"><div class="cz_a"><a onclick="javascript:tishi();">现在就去充值</a></div></div>
        <div class="cz_text">
          <h2><img src="images/exercise/cz_text_h.jpg" /></h2>
          <h3>参加本场大学英语四级模拟大赛，您将得到：</h3>
          <p>1.你的考试分数（大学四级标准的专业评分）；</p>
          <p>2.你在本场大赛中的排名；</p>
          <p>3.专业的试卷批阅、点评和复习重点推荐。</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

