 <div class="left">
               <div class="left_box">
                    <div class="lb_icon"><img src="images/exercise/paper-clip.png" /></div>
                    <div class="rr_login"><div class="rr_login_a"><a href="#">登录人人网</a></div></div>
                    <div class="cz_img" style="display:none;"><div class="cz_a"><a href="#">现在就去充值</a></div></div>
                    <div class="cz_text">
                         <h2>想了解自己能否425分？只需要10元，彻底打消您的备考迷茫。</h2>
                         <h3>参加本场考试，您会得到：</h3>
                         <p>1.大学四级标准的专业评分；</p>
						 <p>2.你本场考试的排名；</p>
						 <p>3.专业的试卷批阅、点评和复习重点推荐。</p>
                    </div>
               </div>
          </div>
