<div id="txWB_W1" style="left: 400px;background-color: red;"></div><script type="text/javascript">var tencent_wb_name = "jeffrey6052";
var tencent_wb_sign = "edc68ad19fb0cc21fcc9801140712e5bf1147540";var tencent_wb_style = "3";</script><script type="text/javascript" src="http://v.t.qq.com/follow/widget.js" charset="utf-8"/></script>