<div class="zh_top">
  <div class="zh_load">
    <div class="load_bg">
      <div class="load_t" style="width: <%= @practies_precent.to_s + "%" %>;"></div>
      <p class="load_text"><%= @practies_precent.to_s + "%" %></p>
    </div>
  </div>
  <div class="zh_addTo_btn">
    <% if @all_practies != 0 %>
      <% if @all_practies == @practies_count %>
        <a href="javascript:void(0);" title="练习已经全部完成">开始训练</a>
      <% else %>
        <a href="/combine_practices/<%= params[:id] %>/start">开始训练</a>
      <% end %>
    <% else %>
      <a href="javascript:void(0);" title="尚未有练习"></a>
    <% end %>
  </div>
</div>
<div class="zh_top_text"><span class="red">*</span> 本训练共包含60篇训练短文，全面涵盖了四级词汇、听力和短文的训练 ，建议考生每天完成1-2篇，持之以恒达到最好的备考效果。</div>
<div class="zh_p"><img src="/images/paper/zh_wubu.png" /></div>
<div class="zonghe_div">
  <div class="zh_tab zh_position_one">
    <div class="zh_tab_box">听力理解:<br/>仔细听短文并解答理解性的单选题。短文可以尝试多听几遍。作答完毕后点击Check按钮核对答案，错误的题目会有红色的提示。修改后再点Check直到修正所有错误为止。</div>
  </div>
  <div class="zh_tab zh_position_two">
    <div class="zh_tab_box">短文理解:<br/>在本任务中，短文分为若干小段。请保证你能听懂短文中的每一个词。我们提供了英文解释。重点单词的释义并给出了例句。请仔细听，认真读，彻底弄懂文章的意思。</div>
  </div>
  <div class="zh_tab zh_position_three">
    <div class="zh_tab_box">完形填空:<br/>请将备选的词拖入文章中适当的位置。这可以帮助你理解复习听过的短文和重点词汇。全部拖完后，点击Check按钮核对答案，错误的地方会有红色的提示。修改后再词点击Check按钮直到修正所有的错误为止。</div>
  </div>
  <div class="zh_tab zh_position_four">
    <div class="zh_tab_box">句子填空:<br/>请将备选的词拖入适当的句子中。这可以帮助你更好理解重点词汇的含义并学习他们的用法。全部拖完后，点击Check按钮核对答案，错误的地方会有红色的提示。修改后再词点击Check按钮直到修正所有的错误为止。</div>
  </div>
  <div class="zh_tab zh_position_five">
    <div class="zh_tab_box">听写:<br/>
      在本任务中，短文分为若干小段，每个小段都给出了一些提示词。如果可以，请先按照提示词尝试写出这一段的内容，然后点击播放按钮听取原文并做修改。点击Check安全检查对错。请注意大小写，标点和必要的空格。请反复修改直到所有内容都通过Check。</div>
  </div>
</div>

<%=  render :partial => "/common/flash_div" %>

