<p><a href="#">联系我们</a> |
  <a href="#">合作伙伴</a> |
  <a href="#">加入Gankao官方QQ群</a> |
  <a href="#">友情链接</a> |
  <a href="#">帮助</a> </p>

<p>苏ICP备11074394号-1 Copyright © 2011 - gankao.co All Rights Reserved.</p>