      <div class="foot">
               <p><a href="http://www.comdosoft.com/" target="_blank">公司信息</a> |   <a href="#">官方微博</a>   |   <a href="http://www.comdosoft.com/pages/aboutcon.html" target="_blank">联系我们</a>    |   <a href="#">用户协议</a></p>
                <p>Copyright © 2011 苏州协创软件有限公司 版权所有 苏ICP备11024201</p>

          </div>