<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- manifest="test.manifest"-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>登录</title>
<link href="/stylesheets//re_login.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="javascripts/jquery-1.5.2.js"></script>
<script type="text/javascript">jQuery.noConflict();</script>
<!--[if IE 6]>
<script src="js/DD_belatedPNG_0.0.8a-min.js"></script>
<script>
  /* EXAMPLE */
  DD_belatedPNG.fix('*');

  /* string argument can be any CSS selector */
  /* .png_bg example is unnecessary */
  /* change it to what suits you! */
</script>
<![endif]-->

</head>
  <body>
<body>
<div class="wrap_login">
     <div class="main_login">
         <%=yield%>
     </div>

     <div class="foot"></div>
</div>



</body>
  </body>
</html>
